<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4" lang="en">
<head>
    <meta charset="UTF-8" />
    <title>Title</title>
</head>
<body>

    <th:block th:fragment="navbar">
        <nav>
            <ul>
                <!--<li sec:authorize="isAuthenticated()">-->
                    <!--<span th:text="${#authentication.principal.username}"/>-->
                <!--</li>-->
                <li><a th:href="@{/}">Home</a></li>
                <li><a th:href="@{/posts}">All Blog Posts</a></li>
                <li><a th:href="@{/posts/create}">Write a New Blog Post</a></li>
                <li>
                    <form th:action="@{/logout}" th:method="post">
                        <button class="btn-link btn" style="margin-top: 8px">Logout</button>
                    </form>
                </li>
            </ul>
        </nav>
    </th:block>

</body>
</html>