<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4" lang="en">
<head>
    <meta charset="UTF-8" />
    <title>Title</title>
</head>
<body>

    <th:block th:fragment="navbar">
        <nav>
            <ul>
                <li sec:authorize="isAuthenticated()">
                 Username:   <span th:text="${#authentication.principal.username}"/>
                </li>
                <li><a th:href="@{/}">Home</a></li>
                <li><a th:href="@{/posts}">All Blog Posts</a></li>
                <li><a th:href="@{/posts/create}">Write a New Blog Post</a></li>
                <li sec:authorize="!isAuthenticated()"><a th:href="@{/register}">Register</a></li>
                <li sec:authorize="!isAuthenticated()"><a th:href="@{/login}">Login</a></li>
                <li sec:authorize="isAuthenticated()">
                    <form th:action="@{/logout}" th:method="post" id="logoutForm" style="display: inline-block">
                        <a href="#" onclick="document.getElementById('logoutForm').submit();">Logout</a>
                    </form>
                </li>
            </ul>
        </nav>
    </th:block>

</body>
</html>